@import url('https://fonts.cdnfonts.com/css/tt-commons');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=League+Gothic&display=swap');

* {
  box-sizing: border-box;
  margin: 0px; 
  padding: 0px
}


.App {
  text-align: center;
  font-family: 'TT Commons', sans-serif;
}


.App-header {
  background-color: #000000;
  width: 100%;
  height: 10vh;
  color: white;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  text-decoration: light;
}

.App-header-Registration{
  /* background-color: #203349; */
  background-color: #000000;
  width: 100%;
  height: 10vh;
  color: white;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  text-decoration: light;
}

.Header-Title {

  color: rgb(255, 255, 255);
  position: relative;
  height: 70px;
  width: 70px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;


}

.Headerhome-Center{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  float: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 50%;
}

.Headerhome-Right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  float: right;
  margin-left: 10%;
  width: 20%;
}

.Headerhome-Center-Dashboard{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  float: center;
  margin-left: 5%;
  margin-right: 20%;
  width: 35%;
}
  
.Headerhome-Right-Dashboard{
  display: flex;
  align-items: center;
  justify-content:right;
  text-align: center;
  float: right;
  margin-left: 10%;
  width: 60%;

}

body{      /* Suppose you want minimum width of 1000px */
  width: auto !important;  
  min-width: 480px;
}

h1{
  color:  #ffffff;
  font-size: 16px;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: 500  ;

}

h1:hover{
  color:#1282A2;
}

h2{
  color:  #ffffff;
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%;
  margin: 10px;
}

button{
  color: #000000;
  background-color: #1282A2;
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border-color: transparent;
  margin: 10px 2px;
  padding: 8px 20px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px #1282A2;
  
}


button:hover{
  background-color: #0f6a83;
}

.Login-Icon{
  color: #fcfcfc;
  background-color: transparent;
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border-color: transparent;
  margin: 10px 2px;
  padding: 10px 20px;
  display: flex;
}


.Login-Icon:hover{
  background-color: transparent;

}

.Login-Icon h1{
  margin-left: 10px;
  
}

.Login-Icon h1:hover{
  color: #1282A2;
}

.LogOut-Icon{
  color: #ffffff;
  background-color: transparent;
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border-color: transparent;
  margin: 10px 2px;
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
  border: solid 1px #1282A2;
  margin-left: 30px;
  margin: 10px 2px;
  padding: 8px 5px;
}


.LogOut-Icon .text {
  margin-left: 2%;
}


.Cart-Icon{
  color: #fcfcfc;
  background-color: transparent;
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border-color: transparent;
  margin: 10px 2px;
  padding: 10px 20px;
  display: flex;
}

.Cart-Icon:hover{

  background-color: transparent;
}




/* PasswordStrengthMeter.css */

.password-strength {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.password-strength input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  color: #797979;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  color: #797979;
}

.password-strength label{

  margin-top: 15px;
  font-size: 14px;
}

label{
  margin-top: 15px;
}

.password-strength .strength-meter {
  height: 10px;
  background: #909090;
  border-radius: 5px;
  position: relative;
  
}

.password-strength .strength-bar {
  height: 100%;
  transition: width 0.3s;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  
}

.strength-1 {
  background: #f66565;
}

.strength-2 {
  background: #f9ba57;
}

.strength-3 {
  background: #5dd25d;
}

.strength-4 {
  background: #2d902d;

}




.Add-Button {
  color: #000000;
  background-color: rgb(243, 161, 52);
  font-family: 'TT Commons', sans-serif;
  font-size: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px;
  margin-left: auto; /* Pushes the button to the right */
}


.HomeBodyBanner {
  background-color: #101010;
  width: 100%;
  color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  height: 45vh ;
  align-items: center;
  justify-content: center;
  margin: 0 auto
  /* background-image: url('../Icons/aurora-bk.jpeg');
  background-size: cover ;
  background-position: center ;
  background-repeat: no-repeat; */

}

.HomeBodyRegistration {
  background: linear-gradient(109.6deg, rgb(30, 71, 47) 11.2%, rgb(8, 73, 82) 91.1%);
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  height: 90vh ;
  background-image: url('../Icons/aurora-bk.jpeg');
  background-size: cover ;
  background-position: center ;
  background-repeat: no-repeat;
  
}

  

.HomeBody {
  background-color: #000000;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
}

.SignUp-InContainer {
  width: 60%;
  height: calc(70vh - 20px);
  box-sizing: border-box;
  color: white;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 2px;
  display: flex;
  
  
}

.LeftSection {
  flex: .25;
  background-color:  #000000;

  background-image: url('../Icons/Background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}


.RightSection {
  flex: 2;
  background-color:     #000000;;
  padding: 10px 20px;
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}





.login-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: relative;

}

.error-container {
  position: absolute;
  top: -55px; /* Adjust this value to control the vertical position */
  left: 50%;
  transform: translateX(-50%);
  width: fit-content; /* Adjust the width as needed */
  height: 10%; /* Set the height for a square container */
  background-color: rgb(209, 104, 104);
  border-radius: 3px;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: 'TT Commons', sans-serif;
  margin: 0 auto; /* Center the container horizontally */
  padding: 10px 20px; /* Add some padding around the content */
}

.error-container-info {
  position: absolute;
  top: -25px; /* Adjust this value to control the vertical position */
  left: 50%;
  transform: translateX(-50%);
  width: fit-content; /* Adjust the width as needed */
  height: 10%; /* Set the height for a square container */
  background-color: rgb(209, 104, 104);
  border-radius: 3px;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: 'TT Commons', sans-serif;
  margin: 0 auto; /* Center the container horizontally */
  padding: 10px 20px; /* Add some padding around the content */
}

.error-container-info.visible {
  display: flex;
  opacity: 1;
}

.error-message {
  color: rgb(240, 240, 240);
  font-size: 15px;
  font-family: 'TT Commons', sans-serif;
}


.error-container.visible {
  display: flex;
  opacity: 1;
}

.error-message {
  color: rgb(240, 240, 240);
  font-size: 15px;
  font-family: 'TT Commons', sans-serif;
}




.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.login-form label {
  color:   #f2f2f2;
  margin-top: 20px;
  float: left;
  
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  background-color: #ffffff;
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
  color: #797979;
}

.login-form button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: transparent;
  color: #ffffff;
  border-color: #1282A2;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px #1282A2;
}

.login-form button:hover {
  background-color: #1282A2;
}


@keyframes rotateRight {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}

@keyframes rotateLeft {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }

}


.Dashboard-body{
  height: 90vh;
  background-color: #d5d0d0;
  display:  flex;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  
}

.Dashboard-body h2{
  
    color:  #000000;
    font-size: 22px;
    padding-left: 1%;
    padding-right: 1%;
    margin: 10px;
  
}

.Dashboard-Left{
  background-color: #eae9e9;
  width: 60%;
  border: solid 1px #000000;
   /*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
  padding: 1%;


}

.Dashboard-Right{
  
  width: 40%;
  margin-left: 1%;
  border: solid 1px #000000;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
  position: relative;
  padding-top: 2%;
  background-color: #eae9e9;
}



.bottom{
  margin: 0 auto;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  
}

.Check-Out-Button{
  margin: 10px 8px;
}
/* .Dashboard-Right .login-form button{
  color:#ffffff;
  background-color: #000000;
  border-color: transparent;
}

.Dashboard-Right .login-form button:hover{
  color:#000000;
  background-color: #2a9d6b;

} */


.div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.div label{
  margin-left: 10px;
}

.div input {
  margin-right: 10px;
}

.div-file {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.div-file input {
  margin-left: 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}



.Sloth{

  margin: 0 auto;
  height: 90px;
  max-width: 20%; /* Ensures the image never exceeds its container's width */
  height: auto; /* Allows the image to maintain its aspect ratio */
  min-width: 0%;
  animation: rotateRight;

}

.Sloth-Render{

  margin: 0 auto;
  height: 25px;
  max-width: 50%; /* Ensures the image never exceeds its container's width */
  min-width: 0%;
  animation: rotateRight;

}

p {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  font-size: 18px;
  color: white;
  font-family: 'Assistant', sans-serif;                                              
}


.h1-form{
  color:#1282A2;
}

.h1-form:hover{
  color:#1282A2;
}


.Dashboard-Right form {
  background-color: transparent; /* or background-color: none; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}



.Forgotpassword{
  color: #007389;
  margin-top: 10px;
  float: left;
}

.Forgotpassword:hover{
  color: rgb(243, 161, 52);
}

/* Styles for the upload button */
.upload-button {
  display: inline-block;
  cursor: pointer;
  width: 70px; /* Adjust container width as needed */
  height: 70px;
  overflow: hidden;
}

/* Style the img element */
.upload-button img {
  width: 100%;
  height: 100%;
  border: 1.5px solid rgb(229, 83, 65);
  border-radius: 50%;
  padding: 3px;
  object-fit: cover;
}

/* Hide the actual file input */
#profilePicture {
  display: none;
}

.remove-icon{
  position: absolute;
  height: 20px;
  top: 80%; /* Position the icon vertically in the middle */
  left: 90%; /* Position the icon horizontally in the middle */
  transform: translate(-50%, -50%); /* Center the icon perfectly */
  cursor: pointer;
  z-index: 1; /* Ensure the icon stays on top */
  background-color: #f5efdf;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid rgb(229, 83, 65);
}

.camera-icon{
  position: absolute;
  height: 20px;
  top: 80%; /* Position the icon vertically in the middle */
  left: 90%; /* Position the icon horizontally in the middle */
  transform: translate(-50%, -50%); /* Center the icon perfectly */
  cursor: pointer;
  z-index: 1; /* Ensure the icon stays on top */
  background-color: #f5efdf;
  
}


/* App.css */
.Main-App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  background-color: #ebebeb;
  height: 100%;
  margin: 0;
  padding: 0;
}

.horizontal-sections {
  display: flex; /* Display children horizontally */
  justify-content: space-around; /* Spread the sections evenly */
  align-items: center; /* Center content vertically */
  width: 100%;

}

.dashboard-section.menu-section {
  /* ... other styles ... */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Subtract padding: 10px from top and 10px from bottom */
  height: calc(100vh - 20px);
  background-color: #000000;
  width: 100%;
  margin-left: 10px;

}

h3{
  margin-top: 15px;
  color: #cfcfcf;
  font-size: 12px;
}


h4{

  color: #ffffff;
  font-size: 20px;
}

.section {
  width: 90%;
  display: flex;
  min-height: 70vh; /* Subtract padding: 10px from top and 10px from bottom */
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px
}

.parent-container{
  width: 100%;
}



.menu-section {
  flex-basis: 250px;
  background-color: #f5efdf; 
  border: 1px solid #000000; 
  border-radius: 8px;
  padding: 3px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: margin-right 0.3s ease;
}

.menu-section.open {
  margin-right: -240px; /* Adjust this value to slide the menu open */
}

.hamburger {
  display: none;
  flex-direction: column;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: rgb(209, 104, 104);
  margin: 3px 0;
}

/* Styles for the upload button */
.profile-picture-dashboard {
  display: inline-block;
  cursor: pointer;
  width: 70px; /* Adjust container width as needed */
  height: 70px;

}

/* Style the img element */
.profile-picture-dashboard img {
  width: 100%;
  height: 100%;
  border: 1.5px solid rgb(229, 83, 65);
  border-radius: 50%;
  padding: 3px;
  object-fit: cover;
  margin-top: 20%;
}

.sign-out-button-main{
  margin-top: auto;
  padding: 10px;
  /* width: 90%; */
}

.horizontal-rule {
  border: .5px solid rgb(243, 161, 52); /* Change color and style as needed */
  margin: 15px 0; /* Adjust margin as needed */
  width: 70%;
}


@media (max-width: 1024px) {
  .Headerhome-Center {
    display: none;

  }

  .Headerhome-Right{
    width: 35%;
    margin-left: 60%;
 }

 .LogOut-Icon {
  /* margin-left: 10%; */
  width: 40%; 
}

.LogOut-Icon .text {
  /* Hide the text by setting its font size to 0 and making it invisible */
  font-size: 0;
  visibility: hidden;
}

.Headerhome-Right-Dashboard{
  display: flex;
  align-items: center;
  justify-content:right;
  text-align: center;
  float: right;
  margin-left: 45%;
  width: 25%;
}

.Cart-Icon{
  margin-right: 0;
}

.Headerhome-Center-Dashboard{
  font-size: 10px;
}

}

@media (max-width: 768px) {

  button{
    font-size: 12px;
    width: 40%;
  }

  .LogOut-Icon .text {
    /* Hide the text by setting its font size to 0 and making it invisible */
    font-size: 0;
    visibility: hidden;
  }
  

  /* Style for disabled button */
  button:disabled {
    background-color: #ffffff;
    color: #555;
    cursor: not-allowed;
    /* You can also add other styles for a disabled state */
  }

  .menu-section {
    margin-right: 0;
  }

  .menu-section.open {
    margin-right: 0;
  }

  .hamburger {
    display: flex;
    transform: rotate(0deg);
  }

  .menu-open .hamburger {
    transform: rotate(90deg);
  }

  .profile-picture-dashboard {

    width: 35px; /* Adjust container width as needed */
    height: 35px;
    margin-top: 20px;
  
  }

  .sign-out-button-main{
   
    font-size: 12px;
    width: fit-content;
    padding: 5px;

  }

  h3{
    display: none;
  }
  
  .section-title {
    font-size: 18px;
   
  }

  .Headerhome-Center {
    display: none;

  }

  .Headerhome-Right{
    width: 45%;
    margin-left: 40%;
 }

  .Headerhome-Right h1{
     font-size: 14px;
  }

  .Headerhome-Right button{
    font-size: 14px;
 }


 .SignUp-InContainer {
  width: 100%;
 }

 .Headerhome-Right-Dashboard{
  margin-left: 25%;
  width: 20%;

}
h1{
  font-size: 12px;
}

}

@media (max-width:576px) {

  button{
    font-size: 10px;
    width: 45%;
  }

  .LogOut-Icon {
    width: 65%; 
  }
  .Headerhome-Right-Dashboard{
    margin-left: 5%;
    width: 30%;
    margin-right: 5%;
  }
}
.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  color: rgb(230, 230, 230);;
  font-family: 'TT Commons', sans-serif;
  width: 100%;
}

.menu-list-log-out-button{
  list-style: none;
  padding: 0;
  color: rgb(230, 230, 230);;
  font-family: 'TT Commons', sans-serif;
  width: 100%;
  margin-top: auto;

}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item i {
  margin-right: 10px;
}

.menu-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  border-right: 2px solid rgb(0, 0, 0);
  padding-top: 10px;
}

.menu-list li:hover {

  border-right: 2px solid rgb(243, 161, 52);
}

.menu-text {
  margin-left: 10px; /* Add margin between icon and text */
}


/* Media query for small screens */
@media (max-width: 768px) {
  .menu-item {
    justify-content: center;
  }

  .menu-item i {
    margin-right: 0; /* Remove margin on small screens */
  }

  .menu-item li {
    display: none; /* Hide text on small screens */
  }
  .menu-text {
    display: none;
  }
}

.CenteredContent{
  display: flex;
}

.narrow-section {
  
  margin-right: 10px;
  padding: 20px; /* Padding around the content */
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Subtract padding: 10px from top and 10px from bottom */
  height: calc(100vh - 20px);
  width: 35%;
  background-color: rgb(245,239,223, 0.65);  /* Lighter background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}


.react-calendar {

  width: 100%;
  height: 30%;
  border-radius: 8px;
  font-family: 'TT Commons', sans-serif;
  line-height: 1.125em;
  border: 1px solid #a3a3a3;
  background-color: #fdf9f1; 
}



.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer{
  width: 100%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size: 14px;

}

.react-calendar button:enabled:hover {
  cursor: pointer;
  color: rgb(243, 161, 52);

}

.react-calendar__navigation {
  display: flex;
  height: 10%;
  color: rgb(243, 161, 52);
  width: 100%;
  font-size: 18px;
}

.react-calendar__navigation button {
  
  background: none;
  color: rgb(243, 161, 52);
  width: 10%;
}

.react-calendar__navigation button:disabled {
  background-color: #d7d7d7;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #a0a0a0;
  color: rgb(255, 255, 255);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: rgb(229, 83, 65);

} 

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  color: rgb(243, 161, 52);
  
}

.react-calendar__month-view__days__day--weekend {
  color: rgb(229, 83, 65);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgb(243, 161, 52);
} 

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: rgb(243, 161, 52);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: rgb(229, 83, 65);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgb(229, 83, 65);
}

.react-calendar__tile--hasActive {
  background:  rgb(255, 255, 255);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: white
}

.react-calendar__tile--active {
  background: rgb(243, 161, 52);
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgb(229, 83, 65);
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color:  rgb(243, 161, 52);
}


.budget-actions {
  display: column;
  justify-content: space-between;
  width: 25%;
  min-width: fit-content;

}

.income{
  padding: 10px;
  background-color: #f5efdf;  
  border: 1px solid rgba(244, 240, 228, 0.2);;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  height: fit-content;
}
.expense{

  padding: 10px;
  background-color: #f5efdf;  
  border: 1px solid rgba(244, 240, 228, 0.2);;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  
}


.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  width: 25%; /* Adjust as needed */
  margin-right: 10px;
  font-family: 'TT Commons', sans-serif;
}


.budget-actions input{
  width: 63%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  background-color: #fdf9f1; 
  
}


.budget-actions h5{
  color: rgb(229, 83, 65);
  font-size: 14px;
  margin-top: 10px;
}

.budget-calendar h5{
  color: rgb(229, 83, 65);
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.budget-chart h5 {
 
    color: rgb(229, 83, 65);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  
}

.budget-actions .horizontal-rule{
  border: .5px solid rgb(39, 39, 39); /* Change color and style as needed */
  margin: 5px 0; /* Adjust margin as needed */
  width: 100%;
}

.budget-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.Sections{
  display: flex;
}

.Sections-and-Header{

  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-left: auto;
  margin-right: 20px;
  height: fit-content;

}

.search-bar{
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar input{
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #fffcfc;
  height: fit-content;
  color: rgb(229, 83, 65);
  height: 30px;

}

.search-button{
  color: #000000;
  background-color: rgb(243, 161, 52);
  font-family: 'TT Commons', sans-serif;
  font-size: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px;
  margin-left: 5px;
  
}

input::placeholder {
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
}

/* Styling for input values */
input[type="text"],
input[type="number"],
input[type="date"]  {
  color: rgb(109, 109, 109); 
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  overflow: hidden; /* Hide overflowing button */
}

.notification-icon {
  margin-left: 20px;
  color: #ffffff;
  font-size: 20px;
}

/* Budgeting.css */
.category-button {
  color: #000000;
  background-color: transparent;
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 20px; /* Adjust this value for rounded rectangular buttons */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  margin: 8px 2px;
}


.category-section {
  display: flex;
  flex-direction: column;
  align-items: left;


}

.category-label {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  font-family: 'TT Commons', sans-serif;
}

.category-buttons {

  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
  overflow: auto;
  height: 150px;
}

.category-buttons:-webkit-scrollbar-track {
  background-color: #8f0000;
}

/* Styling the scrollbar thumb (the draggable handle) */
.category-buttons::-webkit-scrollbar-thumb {
  background-color: #880000;
  border-radius: 10px;
}

/* Styling the scrollbar thumb on hover */
.category-buttons::-webkit-scrollbar-thumb:hover {
  background-color: #b60000;
}

.category-button-container {
  display: inline-block;
  position: relative;
}

.category-name {
  display: none;
  position: absolute;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px; /* Adjust the font size as needed */
}

.category-button-container:hover .category-name {
  display: block;
}



.category-name {
  margin-top: 5px; /* Adjust as needed */
  font-size: 12px; /* Adjust font size as needed */
  margin-left: 2px;
}


.selected {
  /* Style for selected button */
  background-color: rgb(229, 83, 65);
  color: white;
}


.budget-container{
  display: flex;
}


.budget-chart {

  padding: 10px;
  background-color: #f5efdf;  
  border: 1px solid rgba(244, 240, 228, 0.2);;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  height: 600px;
  max-width: 50%;
  width: 50%;
}

.Title-Header{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  padding-left: 10px;
  background-color: rgb(229, 83, 65, 0.9);
  border: 1px solid rgba(244, 240, 228, 0.3);;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  margin-left: 10px;
  margin-right: 10px;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  .SignUp-InContainer {
    flex-direction: column; /* Stack left section on top of right section */
  }

  .LeftSection {
    flex:0.25;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;

  }

  .RightSection {
    flex: 2.5;
    padding: 10px 20px; /* Maintain the padding */
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
  }


  .Sloth{
      display: none;
  }


  h2{
    font-size: 22px;
  }

  .error-container {
    position: absolute;
    top: -45px; /* Adjust this value to control the vertical position */
    left: 50%;
    transform: translateX(-50%);
    width: 70%; /* Adjust the width as needed */
    height: 15%; /* Set the height for a square container */
    background-color: rgb(209, 104, 104);
    border-radius: 3px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px 10px; /* Add some padding around the content */

  }

  .error-message {
    font-size: 13px;
  }

  .budget-chart{
    min-width: 60%;
  }

  .About-flex{
    flex-direction: column; /* Stack items vertically on smaller screens */
    text-align: center; 
    justify-content: center;
    align-items: center;
  }

  .About-flex .product-card{
    margin-right: 0; /* Remove right margin for image on smaller screens */
    margin-bottom: 10px;
  }

  .About-flex p{
    font-size: 14px;
  }

}

.budget-calendar{
  padding: 10px;
  background-color: #f5efdf;  
  border: 1px solid rgba(244, 240, 228, 0.2);;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  height: fit-content;
  max-width: 30%;
  display: block;
}

.transactions-list{
  height: 300px;
}

.expense-pie-chart {

  width: 100%;
  max-width: 350px; /* Adjust as needed */
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: fit-content;
  padding: 10px;
}


.landing-page {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  text-align: center;
  padding-bottom: 15%;
  animation: fadeInSlideUp 3s ease-in-out forwards;
}

.header-home {

  padding-top: 10%;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color:white;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 3s ease-in-out forwards;
}

.header-home-two {

  padding-top: 20%;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color:white;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 3s ease-in-out forwards;
}

.header-home-products {

  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color:white;
  opacity: 0;
  transform: translateY(5px);
  animation: fadeInSlideUp 1s ease-in-out forwards;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subheader {
  font-size: 20px;
  margin-bottom: 40px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #1282A2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px;
}

.cta-button:hover {
  background-color: #0a576c;
}


/* ProductGrid.css */
.product-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 30px;
  animation: fadeInSlideUp 3s ease-in-out forwards;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(171, 171, 171, 0.1);
}

.product-card :hover{
  opacity: 70%;
}
.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-info {
  padding: 10px;
}

.About-flex{
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  align-items: center;
  width: 90%;
  justify-content: center;
}

.About-flex .product-card img {
  height: fit-content;
  object-fit: cover;
}

.About-flex p {
  padding: 45px;
  width: 80%;
  object-fit: cover;
  max-width: 100%; /* Take up full width on smaller screens */
  margin-top: 10px; 
}

.About-flex .product-card {
  width: 40%;
  height: 30%;
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

/* styles.css */
footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}


.landing-page-contact {
  padding-top: 5%;
  display: column;
  
  align-items: center;
  justify-content: center;
  height: fit-content;
  text-align: center;
  padding-bottom: 15%;
  animation: fadeInSlideUp 3s ease-in-out forwards;
}

.contact-section {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.contact-section h2 {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: black; /* or background-color: none; */
  padding: 8px; /* Add some padding for spacing */
  font-size: 14px; /* Set the font size */
  outline: none;
  border: 1px solid #ddd;
  border-radius: 8px;
}


